<?xml version="1.0"?>
<config>
    <modules>
        <ElderXavier_Socialnetworks>
            <version>0.1.0</version>
        </ElderXavier_Socialnetworks>
    </modules>
    
	<frontend>
        <routers>			
            <socialnetworks>
                <use>standard</use>
                <args>
                    <module>ElderXavier_Socialnetworks</module>
                    <frontName>socialnetworks</frontName>
                </args>
            </socialnetworks>	
		<layout>
            <updates>
                <helloworld>
                      <file>socialnetworks.xml</file>
                </helloworld>
            </updates>
            </layout>
			
        </routers>  
    </frontend>    
</config>
